<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GKM-IT</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/theme.css">
    <link rel="javascript" type="text/css" href="assets/utility.js">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/sc-1.5.0/datatables.min.css"/>
    <link rel="shortcut icon" href="assets/favicon.ico">
    <style type="text/css">
     *{
      border: border-box;
     }
      li:hover {
        background-color: darkgrey !important;
        cursor: pointer;
      }
      li:active {
        color: darkgrey !important;
      }
      .edit,.show,.delete{
        max-width: 50px !important;
      }
     .width{
        width: 25% !important;
      }
      #ui-datepicker-div{
        top:40% !important;
      }
    </style>
  </head>
  <body class="dashboard-page sb-l-o sb-r-c onload-check" style="min-height: 463px;">
    <div id="main">
      <header class="navbar navbar-fixed-top bg-dark">
        <div class="navbar-branding dark bg-dark">
          <a class="navbar-brand width" href="dashboard.html">
            <img src="/assets/gkm-logo.png">
          </a>       
        </div>
        <ul class="nav navbar-nav navbar-right">      
          <li class="dropdown menu-merge">
            <a href="dashboard.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <%if current_user %>
                <img src="/assets/avtar.png" alt="avatar" class="mw45 br64">
                <b><%= current_user.username %></b>
                <input type="hidden"id="hidden" value="<%= current_user.id %>"name="hidden">
              <%end%>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a class="logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>   
      </header>
      <aside id="sidebar_left" class="nano nano-light affix sidebar-light has-scrollbar">
        <div class="sidebar-left-content nano-content" tabindex="0" style="margin-right: -12px;">
          <ul class="nav mt15 sidebar-menu">
            <li class="">
              
              <a class="subjects ml15"style="color: #555;font-size:20px;font-weight: 590;letter-spacing:0.4px">
                <i class="glyphicon glyphicon-book"></i> Subjects
              </a>
            </li>
            <li class="side  ">
              <a class="exams ml15"style="color: #555;font-size:20px;font-weight:590;letter-spacing:0.4px">
                <i class="glyphicon glyphicon-list-alt"></i> Exams
              </a>
            </li>
            <li class="side  ">
              <a  class="users ml15"style="color: #555;font-size:20px;font-weight:590;letter-spacing:0.4px"> <i class="glyphicon glyphicon-user"></i>Users     
              </a>
            </li>
          </ul>    
        </div>
      </aside>