<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style type="text/css">
      table tbody tr td {
        font-size: 16px !important;
      }
      .link{
        cursor: pointer;
      }
      h3{
        color: white;
      }
      .panel-tile{
        display:inline-block;
        box-shadow: 0 3px 3px rgba(0,0,0,0.12) !important;
      }
      @media screen and (max-width: 480px) {
        .width img{
          width:130px;
        }
        .log{
          display:none !important;
        }
        header{
          height: 60px !important;
        }
        .navbar-branding{
          width:150px;
        }
        .dropdown-toggle img{
          width: 30px;
          height: 30px;
        }
        li .link{
          display: none !important;
        }
        #divFloatTimer{
          top:60px !important;
          height:30px !important;
        }
      }
    </style>
  </head>
  <body>
    <header style="box-shadow: 0 3px 3px rgba(0,0,0,0.12) !important;"class=" mb40 navbar navbar-fixed-top bg-dark">
        <div class="navbar-branding  ">
          <a class="navbar-brand width" href="dashboard.html">
            <img src="/assets/gkm-logo.png">
          </a>       
        </div>
        <ul class="mt40 nav navbar-nav">
          <li class="link">Home</li>
        </ul>
        <ul class=" log nav navbar-nav navbar-right">      
          <li class="dropdown menu-merge">
            <a href="dashboard.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <%if current_user %>
                <img src="/assets/avtar.png" alt="avatar" class="mw45 br64">
                <b><%= current_user.username %></b>
                <input type="hidden"id="hidden" value="<%= current_user.id %>"name="hidden">
              <%end%>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a class="logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>   
      </header>
    