      <%= render partial: "partial/adminheader" %>
      <section id="content_wrapper" id="top">
        <section id="content" class="table-layout">
          <div class="tray tray-center"  style="height: 640px;">
            <div class="panel panel-visible" id="spy3">
              <div class="panel-heading">
                <div class="panel-title hidden-xs">
                  <span></span>Exams
                </div>
              </div>
              <div class="panel-body pn">
                <table id="datatable3" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email_id</th>
                      <th>question_set</th>
                      <th>attended_Ques.</th>
                      <th>score</th>
                      <th>date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="exam">
                    
                  </tbody>  
                </table>
              </div>
            </div>  
          <div>  
        </section>
      </section>
    </div>
  </body>
    
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/sc-1.5.0/datatables.min.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new Exams.pageLoaded();
    });
  </script>
</html>