    <%= render partial: "partial/header" %>
    <div id="divFloatTimer" class="pull-right btn-success" style="padding: 10px; position: fixed; z-index: 3000000; top: 90px; right: 2px; width: auto;  color: white;" align="center">
       <span id="timer" style="font-weight:bold"></span> <span class="text">:Time Left</span>
    </div>
    <div class="pull-center"style="color:#272a2a;!important;">    
      <div  class="  
        ">
        <div class="panel col-sm-10"style="margin-left: 100px;">
          <div class="panel-heading">
            <div class="sub"></div> 
          </div>  
          <div class="panel-body" >  
            <table id="exm">
            </table>
            <div class="sbtn" style="margin:auto !important; width:15%;" ><button style="width: 100%;font-size: 18px;" class="btn btn-success" id="submit"><b>submit</b></button></div>
          </div>
          </div>
        </div>        
      </div> 
    </div>
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new Showexm.pageLoaded();
    });
  </script>
</html>
