    <%= render partial: "partial/header" %>
    <div class="container">    
      <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-12 
        ">
        <div class="panel ">
          <div class="panel-heading">
            <div class="sub mt20">Subjects</div> 
          </div>  
          <div class="panel-body data" >                                 
           
           




          </div>
        </div>        
      </div> 
    </div>
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new Home.pageLoaded();
    });
  </script>
</html>
