<%= render partial: "partial/header" %>
    <div class="pull-center"style="color:#47071f!important;">    
      <div  class="  
        ">
        <div class="panel col-sm-10"style="left:8% !important;">
          <div class="panel-heading">
            <div class="sub mt20"></div> 
          </div>  
          <div class="panel-body" >  
         
            
          </div>
          </div>
        </div>        
      </div> 
    </div>
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new Qsetshow.pageLoaded();
    });
  </script>
</html>
