    <%= render partial: "partial/header" %>
    <div class="container">    
      <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 
        ">
        <div class="panel ">
          <div class="panel-heading">
            <div class="sub"></div> 
          </div>  
          <div class="panel-body" >                                 
            
          </div>
        </div>        
      </div> 
    </div>
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new Showtest.pageLoaded();
    });
  </script>
</html>
